@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,600&display=swap');
    body {
      background: #222;
    }
    #menu  {
        background: hsl(208,43%,26%);;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
    }
    
    #chatstyle {
        text-align: center;
    }
    #khung-chat {
        margin-top: 10px;
        text-align: center;
        font-family: 'Roboto Mono', monospace;
        list-style: none;
        font-size: 25px;
        
    }
    #khung-chat li {
        background: transparent url(https://cdn.raidforums.com/s/starfall.gif) no-repeat;
        background-position: center;
        background-size: 35px;
        font-weight: bold;
        white-space: nowrap;
        color: #E67E22;
        text-shadow: 2px 2px 5px #e67e22;
    }
    .menu p {
        font-size: 50px;
        text-align: center;
        color: #ef41e8; 
        text-shadow: 3px 2px 6px  #b841ef;
        background: transparent url(https://cdn.raidforums.com/s/starfall.gif);
        background-repeat: no-repeat;
        background-position: center;
        font-family: 'Roboto Mono';
    }
    textarea {
        background: #191919;
        border: 1px solid #323232;
        color: #afafaf;
        
    }
 